{% extends "base_generic.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<div class="films">
    <h2>Films</h2>
    {% for film in films %}
    <div class="film">
        <a href="/watch/film/{{ film.url }}">
            <img src="{{ film.poster }}" alt="{{ film.name }}">
            <h3>{{ film.name }}</h3>
        </a>
    </div>
    {% endfor %}
</div>

<div class="serials">
    <h2>Serials</h2>
    {% for serial in serials %}
    <div class="serial">
        <a href="/watch/serial/{{ serial.url }}">
            <img src="{{ serial.poster }}" alt="{{ serial.name }}">
            <h3>{{ serial.name }}</h3>
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
